head, body {
    color: #E3FF52;
    font-family: sans-serif;
}

#background {
    position:absolute;
}

#board {
    position: absolute;
    height: 750px;
    width: 750px;
    left: 200px;
    top: 17px;
}

.boardobject {
    position: absolute;
    height: 75px;
    width: 75px;
}

.background {
    position: relative;
}