head, body {
    color: #E3FF52;
    font-family: sans-serif;
}

#board {
    position: absolute;
    height: 700px;
    width: 700px;
}

#boardBackground {
    height: 700px;
    width: 700px;
}

.boardobject {
    position: absolute;
    height: 50px;
    width: 50px;
}

.background {
    position: relative;
}

