head, body {
    color: #E3FF52;
    font-family: sans-serif;
}

#background {
    position:absolute;
}

#itemSelector {
    position:absolute;
    width: 100px;
    top: 180px;
    left: 45px;
}

#board {
    position: absolute;
    height: 750px;
    width: 750px;
    left: 200px;
    top: 17px;
}

.itemSelectorObject {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.itemSelectorObject .selected {
    border:3px;
    border-color: yellow;
}

.boardobject {
    position: absolute;
    height: 75px;
    width: 75px;
}

.background {
    position: relative;
}